<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>

<body>
<h2 style="text-align: center;">Welcome to text analyzer</h2>
<p><b>Enter your text below:</b> </p>
<form action='/removepunc' , method='get'>
    <textarea name="text" id="" cols="30" rows="10" style="width: 1048px; height: 144px;"></textarea><br>
    <input type="checkbox" name="check">Remove Punctuation<br>
    <button type='submit', style="margin-left: 4px; margin-top: 5px;">Analyze Text</button>
</form>
</body>

</html>

